@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/*
font-family: 'Work Sans', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Questrial', sans-serif;
*/

